body{
    background-color: rgb(249, 239, 221);
    background-size: cover;
}

body h1 {
    color: rgb(15, 152, 220);
    font-size: 80px;
    text-align: center;   
}

body input {
    border-style: double;
    border-radius: 5px;
    border: 2px solid red;
    margin-left: auto;
    margin-right: auto;
    display: block;
    align-items: center;
    font-size: 25px;
}

body ul li {
    color: rgb(56, 13, 232);
    margin-block: 5px;
    text-align: center;   
    font-family: Verdana,Geneva, Tahoma, sans-serif;


}

html {
    min-height: 100%;
    
 }